---
const { siteTitle, identity } = Astro.props;
---

<header class="header">
    <div class="top-imgs">
        <img
            class="avatar"
            src="/assets/avatar.jpeg"
            alt="avatar"
        >
    </div>
    <div class="titles">
        <h1 class="site-title">
            @{siteTitle}
        </h1>
        <h2 class="full-name">
            {identity.firstName} {identity.lastName}
        </h2>
    </div>
    <p class="description">
        {identity.description}
    </p>
</header>

<style>
    .header {
        overflow: hidden;
        .top-imgs {
            background-image: url("/assets/top_img.jpeg");
            background-size: cover;
            height: 100px;
            width: 100%;
            padding: 0 16px;
            .avatar {
                width: 70px;
                height: 70px;
                border-radius: 100%;
                border: solid 3px white;
                position: relative;
                bottom: -50%;
            }
        }
        .titles {
            display: flex;
            flex-direction: column-reverse;
            padding: 40px 16px 0;
            .site-title {
                color: gray;
            }
            .full-name {
                font-size: 20px;
                font-weight: 800;
            }
        }
        .description {
            padding: 16px;
            font-size: 15px;
        }
    }
</style>